@use "sass:map";
@use "./variables" as *;

.body-reseach{
     background-color: black;
}


//#region Section1
.reseach-section1{
     background: center/cover no-repeat url("../files/img/TechBack11.jpg");
     color: white;
}

.infrastructure{
     padding-top: 2em;
}

.infrastructure-list{
     display: flex;
     padding-left: 1em;
}

.infrastructure-list .region-list{
     display: flex;
     flex-direction: column;
     width: 50vw;
}

.infrastructure-list>img{
     margin-left: 5em;
     
     width: 40%;
     height: auto;
     border: 1px dotted $goldText;
}



//#endregion

//#region Section2
.reseach-section2{
     border-top: 1px dotted $goldText;
     background: center/cover no-repeat url("../files/img/RoboScales.png");
     color: white;
}


//#endregion
.reseach-text{
     padding-left: 1em;
     text-indent: 0.5em;
     width: 95%;
}


@include respond(laptop){

.pc89-header{
     height: 190px;
     padding-bottom: 0;
     
}



.infrastructure-list{
     width: 100%;
}

.infrastructure-list .region-list{
     width: auto;
}

.infrastructure-list img{
     margin-top: 10em;
     margin-left: -5em;
     width: 40%;
     min-width: 200px;
     height: 40%;
}

.region-list li{
     width: 350px;
}
.infrastructure .pull{
     width: 85%;
}
.infrastructure .title, .digital .title{
     font: 800 clamp(22px, 34px, 40px)/1.1 "Cinzel", serif;
}

.infrastructure .subtitle{
     font: 600 clamp(20px, 28px, 36px) "Cinzel", serif;
}

.infrastructure-list .key{
     font: 300 clamp(14px, 20px, 22px) "Cinzel", serif;
}

.infrastructure-list .region-list li, .reseach-text,
.codelife .reseach-text{
     font-size: $fontLS;  
     background-color: rgb(0, 0, 0, 0.4);
}

.codelife>ul>li{
     font-size: $fontLS;
     background-color: rgb(0, 0, 0, 0.2);
}

.interfacesfuture>p{
     font-size: $fontLS;
}
}




@include respond(tablet){

.pc89-header{
     height: 130px;
     padding-bottom: 0;
     
}

.infrastructure{
     padding-top: 2em;
}

.infrastructure-list{
     width: 100%;
}

.infrastructure-list .region-list{
     width: 70px;
}

.infrastructure-list img{
     margin-top: -0.1em;
     margin-left: 10em;
     width: 20%;
     min-width: 200px;
     height: 20%;
}

.region-list li{
     width: 400px;
}
.infrastructure .pull{
     width: 85%;
}
.infrastructure .title, .digital .title{
     font: 800 clamp(12px, 24px, 23px)/1.1 "Cinzel", serif;
}

.infrastructure .subtitle{
     font: 600 clamp(15px, 16px, 26px) "Cinzel", serif;
}

.infrastructure-list .key{
     font: 300 clamp(14px, 20px, 22px) "Cinzel", serif;
}

.infrastructure-list .region-list li, .reseach-text,
.codelife .reseach-text{
     font-size: $fontT;  
     background-color: rgb(0, 0, 0, 0.4);
}

.codelife>ul>li{
     font-size: $fontT;
     background-color: rgb(0, 0, 0, 0.2);
}

.interfacesfuture>p{
     font-size: $fontT;
}
}

@include respond(phone){

.pc89-header{
     height: 130px;
}

.infrastructure{
     padding-top: 2em;
}


.infrastructure-list .region-list{
     width: 70px;
}

.infrastructure-list img{
     margin-top: 2em;
     margin-left: 2em;
     width: 10%;
     min-width: 100px;
     height: 10%;
}

.infrastructure .title, .digital .title{
     font: 600 clamp(12px, 14px, 20px)/1.1 "Cinzel", serif;
}

.infrastructure .subtitle{
 font: 300 clamp(10px, 12px, 18px) "Cinzel", serif;
}

.infrastructure-list .key{
     font: 300 clamp(10px, 10px, 18px) "Cinzel", serif;
}

.infrastructure-list .region-list li, .reseach-text,
.codelife .reseach-text{
     font-size: $fontP;  
     background-color: rgb(0, 0, 0, 0.4);
}
.infrastructure .pull{
     width: 200px;
}
.codelife>ul>li{
font-size: 10px;
background-color: rgb(0, 0, 0, 0.2);
}

.interfacesfuture>p{
     font-size: $fontP;
}
}
