@use "./variables" as *;
@use "./includeVariables" as *;
@use "./header";
@use "./basepage";
@use "./footer";

@use "./reseach";
@use "./division";
@use "./archives";
//@use "./index";

*{
    list-style: none;
}

p{
    text-indent: 0.5em;
    padding: 0.5em 0em 0.5em 0.8em;
    margin: 0;
}

h1{
    padding: 0.5em 0em 0.5em 0.5em;
    margin: 0;
}